.footer {
  background: #020617;
  color: #94a3b8;

  text-align: center;
  padding: 25px 15px;

  margin-top: 60px;
}

.footer p {
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: underline;
}
