/* NAVBAR */

.navbar {
  width: 100%;
  height: 60px;

  background: #020617;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LEFT */

.nav-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  color: #38bdf8;
  font-size: 26px;   /* BIGGER NAME */
  font-weight: bold;
  margin-top: 10px;
}

/* LINKS */

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: #38bdf8;
}

/* MENU ICON */

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* ---------------- MOBILE ---------------- */

@media (max-width: 768px) {

  /* FORCE SAME LINE */
  .navbar {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;

    width: 100%;
    background: #020617;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 0;
    overflow: hidden;

    transition: all 0.3s ease;
  }

  .nav-links.active {
    max-height: 500px;
    padding: 15px 0;
  }

  .nav-links li {
    margin: 12px 0;
  }
}
